@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  margin: 0;
  line-height: 1.7;
  color: #000080;
}
a {
  text-decoration: none;
}
.title {
  margin-top: 10px;
}
.main_nav {
  display: flex;
  margin-top: 20px;
  list-style: none;
}
.main_nav li {
  margin-left: 36px
}
.main_nav a {
  color: #000080;
  font-weight: bold;
}
.main_nav a:hover {
  color: #0bd
}
.page_header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 100%;
  margin: 0;
  padding: 0 2%;
}
.main_content {
  display: flex;
}
.main_content .relative {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main_content .relative p {
  position: absolute;
  width: 100%;
  font-size: 3em;
  color: #000;
  margin: 0;
  padding: 0;
  bottom: 60px;

}
.main_content .main_image {
  width: 50%;
  margin: 0;
}
.blue_box {
  width: 75%;
  height: 150px;
  margin: -75px;
  background: #000080;
}